{% for server in servers  %}
server {
        listen {{ server.port }} default_server;
        root /var/www/html;
        index index.html index.htm index.nginx-debian.html;
        server_name {{ server.domain }};
        location / {
                
                try_files $uri $uri/ =404;
        }

       

      
}
{% endfor  %}

